<%- include("./components/header.ejs"); %>


<section class="courses">
    <h1 class="component">Semestre 1</h1>
    <div class="data">
        <% items.forEach(item => { %>
         <div class="box1">
            <i class="<%= item.icon%>"></i>
            <a href="/courses/<%=item.id %> "class="content"><%= item.title%></a>
        </div>
        <% }) %> 
    </div>
</section>
<section class="courses">
    <h1 class="component">Semestre 2</h1>
    <div class="data">
        <% items_2.forEach(item => { %>
            <div class="box1">
               <i class="<%= item.icon%>"></i>
               <a href="/courses/<%=item.id %> "class="content"><%= item.title%></a>
           </div>
           <% }) %> 
    </div>
</section>



<%- include("./components/footer.ejs") %> 